<%= form_for(@customer) do |f| %>

<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>

<% if @customer.errors[:name].any? %>
<%= @customer.errors[:name].first %>
<% end %>

</div>

<div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>

<% if @customer.errors[:email].any? %>
<%= @customer.errors[:email].first %>
<% end %>
</div>

<div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>

<% if @customer.errors[:address].any? %>
<%= @customer.errors[:address].first %>
<% end %>
</div>

<div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>

<% if @customer.errors[:phone].any? %>
<%= @customer.errors[:phone].first %>
<% end %>
</div>


<div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>

<% if @customer.errors[:street].any? %>
<%= @customer.errors[:street].first %>
<% end %>
</div>

<div class="action">
    <%= f.submit %>
</div>

<% end %>